@media (max-width:1200px) {
    body {
        font-size: 14px;
    }

    .box-title .title h2 a {
        font-size: 14px;
    }

    .box-title .title h2 {
        padding: 12px 1px 7.5px 15px;
    }

    .list-slide-libary-image .title-libary {
        font-size: 14px;
    }

    .list-slide-libary-image .title-libary a {
        padding: 13px 0 9.5px 15px;
    }

    .post-focus .box-list-item-focus .item a,
    .item-blog-small-3 .title-blog a,
    .item-blog-4 .title a span,
    .list-2item-libary .item-libary .title a,
    .list-document-term .item-document-term .title a,
    .wrap-ad .list-hotline-ad a {
        font-size: 14px;
    }

    .post-focus .title-box span,
    .wrap-ad .title-ad,
    .item-blog-main .title a,
    .wrap-read-print .title-read {
        font-size: 15px;
    }

    .blog-item-main-3.box-item-hot-main .title-post-hot a,
    .item-blog-2 .content-blog .title {
        font-size: 16px;
    }

    .box-item-hot-main .title-post-hot a {
        font-size: 20px;
    }

    .wrap-read-post-hot .item-read .number {
        font-size: 55px;
    }

    .wrap-ad .list-hotline-ad {
        margin-top: 3px;
    }

    .menu .wrap-menu a {
        font-size: 13px;
    }
}

@media (max-width:1080px) {}

@media (max-width:1024px) {
    header#header .wrap-logo .title-logo .title {
        font-size: 24px;
    }

    header#header .wrap-logo .title-logo .title-child {
        font-size: 16px;
    }

    .menu .wrap-menu .box-menu-display {
        justify-content: space-between;
    }

    .menu .wrap-menu {
        padding: 12px 5px;
    }

    .menu .wrap-menu .wrap-menu-child {
        padding-right: 10px;
        position: relative;
        top: 0px;
        right: 5px;
        z-index: 10;
    }

    .menu .wrap-menu .wrap-menu-child .box-menu-child {
        position: fixed;
        top: 0;
        right: auto;
        min-width: auto;
        left: 0;
        width: 300px;
        height: 100vh;
        background: var(--color-blue);
        border: none;
        overflow-y: scroll;
        padding-bottom: 50px;
        padding-top: 50px;
        display: block;
        transition: all .3s;
        transform: translateX(-310px);
    }

    .menu .wrap-menu .wrap-menu-child .box-menu-child.active {
        transition: all .3s;
        transform: translateX(0);
        z-index: 16;
    }

    /* icon submenu */
    .menu .wrap-menu-child .box-menu-child .item .icon-toggle-menu {
        width: 20px;
        height: 20px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 7.5px;
        right: 15px;
        padding-top: 1px;
    }
    
    .menu .wrap-menu-child .box-menu-child .item .icon-toggle-menu::before {
        content: url(../images/icon-plus-submenu.png);
        display: block;
        padding-right: 1px;
    }

    .menu .wrap-menu-child .box-menu-child .item .icon-toggle-menu::after {
        content: url(../images/icon-minus-submenu.png);
        display: none;
        line-height: 1;
        margin-bottom: 7.5px;
        padding-right: 1px;
    }

    .menu .wrap-menu-child .box-menu-child .item .icon-toggle-menu.active::before {
        display: none;
    }

    .menu .wrap-menu-child .box-menu-child .item .icon-toggle-menu.active::after {
        display: block;
    }

    .menu .wrap-menu .menu-child {
        position: relative;
        right: auto;
        left: 0;
        transform: unset;
        visibility: visible;
        opacity: 1;
    }

    .menu .wrap-menu-child .box-menu-child .menu-child .item-child .menu-child {
        left: 0;
        right: auto;
        top: 0;
        border-top: none;
    }

    .menu .wrap-menu .item .menu-child {
        display: none;
        transition: unset !important;
        border-top: 0;
    }
    .menu .wrap-menu .menu-child .item-child>a{
        padding-left: 20px;
    }

    /* .menu .wrap-menu .item .menu-child.active {
        border-bottom: 1px solid #FFF;
    } */

    .menu .wrap-menu .box-menu-display .item:first-child a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        border-top: 1px solid rgba(255, 255, 255, 0.25);
    }

    .menu .wrap-menu .box-menu-display>.item:first-child a {
        border-bottom: none;
        border-top: none;
    }
    .menu .wrap-menu .menu-child .item-child>a{
        padding-left: 35px;
    }
    .menu .wrap-menu .menu-child .item-child .item-child a{
        padding-left: 55px;
    }

    .menu .wrap-menu .menu-child .item-child>a:hover,
    .menu .wrap-menu .wrap-menu-child .box-menu-child a:hover {
        background-color: inherit;
        color: #FFF;
    }

    .menu .wrap-menu .wrap-menu-child .box-menu-child .icon-toggle-menu-child {
        position: absolute;
        top: 17px;
        right: 20px;
    }

    .wrap-menu-footer.menu .wrap-menu .wrap-menu-child .box-menu-child {
        top: 0;
        bottom: 0;
    }

    .wrap-menu-footer.menu .wrap-menu .box-menu-display .item:first-child a {
        padding-left: 15px;
    }

    .wrap-menu-footer.menu .wrap-menu {
        padding: 10px 0;
    }

    .wrap-menu-footer.menu .wrap-menu .wrap-menu-child {
        top: 0px;
    }

    /*  */
    body.overlay {
        position: relative;
        overflow: hidden;
    }

    .menu .wrap-menu .wrap-menu-child.active::before {
        content: "";
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        z-index: 15;
        left: 0;
        top: 0;
    }

    .menu.active .wrap-menu .wrap-menu-child .icon-toggle-menu-child {
        opacity: .6;
    }

    header#header,
    footer#footer,
    main#main {
        transition: all .3s;
    }

    header#header.active-menu,
    footer#footer.active-menu,
    main#main.active-menu {
        transition: all .3s;
        transform: translateX(300px);
    }

}

@media (max-width:991px) {
    /*  */

    .wrap-page-main .col-left-main,
    .wrap-page-main .col-right-main {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .box-item-hot-main {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .box-btn-magazine {
        margin-top: 15px;
    }

    .wrap-read-print {
        margin-top: 20px;
    }

    .wrap-blog-item-main .item-blog-2 {
        padding-bottom: 15px;
    }

    .list-document-term {
        display: flex;
        flex-wrap: wrap;
        padding-left: 10px;
        padding-right: 10px;
    }

    .list-document-term .item-document-term,
    .list-document-term .item-document-term:last-child {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
        /* margin-bottom: 20px; */
        margin: 0 10px 20px;
    }

    .wrap-video-small {
        margin-top: 20px;
    }

    .wrap-list-blog-4 .col-lg-5,
    .wrap-list-blog-3 .col-md-5,
    .wrap-list-blog-3 .col-md-7,
    .wrap-list-blog-4 .col-lg-7 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .footer-last {
        align-items: flex-start;
        flex-direction: column;
    }

    .footer-last ul {
        order: 1;
        margin-bottom: 10px;
    }

    .footer-last>p {
        order: 2;
    }

    header#header .wrap-logo .title-logo .title {
        font-size: 22px;
    }

    header#header .wrap-logo .title-logo .title-child {
        font-size: 15px;
    }

    .box-title .title h2 {
        padding: 13px 1px 7.5px 15px;
    }

    .item-member .box-content-member .title a {
        font-size: 16px;
    }

    .box-title-main .title-content h1,
    .box-title-main .title-content h2,
    .box-title-main .title-content h3,
    .box-title-main .title-content h4,
    .box-title-main .title-content h5 {
        font-size: 20px;
    }

    .wrap-contact-body-service {
        margin-bottom: 20px;
    }

    .wrap-tab-top-right .title a {
        font-size: 14px;
    }
    .wrap-blog-item-main.bg-white.wrap-video-toppage>.row>.col-lg-5{
        flex:  0 0 100%;
        max-width: 100%;
    }
    .wrap-blog-item-main.bg-white.wrap-video-toppage>.row>.col-lg-7{
        flex:  0 0 100%;
        max-width: 100%;
    }
    .wrap-ad{
        display: flex;
        flex-wrap: wrap;
    }
    .wrap-ad h2{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .wrap-ad>div{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .post-focus{
        height: auto;
    }
    .post-focus .box-list-item-focus{
        padding-bottom: 0;
    }
}

@media (max-width:768px) {
    header#header .wrap-logo .title-logo .title {
        font-size: 18px;
        line-height: 1.4;
        -webkit-text-stroke: 0 #fff;
        margin-bottom: 5px;
    }

    header#header .wrap-logo .title-logo .title-child {
        font-size: 14px;
    }

    header#header .wrap-logo .logo {
        min-width: 80px;
        width: 80px;
        height: 80px;
    }

    .slide-libary-toppage.owl-carousel .owl-nav button {
        top: 50%;
        transform: translateY(-50%);
        margin: 0 !important;
    }

    .wrap-list-blog-2item>[class*="col-"] {
        margin-bottom: 20px;
    }

    .box-item-footer {
        margin-bottom: 20px;
    }

    .box-title-main .title-content h1,
    .box-title-main .title-content h2,
    .box-title-main .title-content h3,
    .box-title-main .title-content h4,
    .box-title-main .title-content h5 {
        font-size: 18px;
    }

    .wrap-left-page .box-title {
        margin-top: 20px;
    }

    .item-libary-main-hot .content .title {
        font-size: 14px;
    }

    .modal-content iframe {
        height: 400px;
    }
    .wrap-list-member .swiper-wrapper .swiper-slide {
        flex: 0 0 calc(100% / 4);
        max-width: calc(100% / 4);
    }
    
    .menu .wrap-menu .wrap-menu-child .box-menu-child{
        width: 100%;
        transform: translateX(-100%);
        background-color: rgb(50 82 175);
    }
    .menu .wrap-menu .wrap-menu-child .box-menu-child a {
        padding: 19.5px 15px 15.5px;
        font-size: 15px;
        background-color: transparent
    }
    .menu .wrap-menu-child .box-menu-child .item .icon-toggle-menu {
        top: 16px;
    }
    #breadcrumb ul{
        overflow-x: scroll;
    }
    .wrap-page-main{padding: 0 15px 15px 15px;}
    .wrap-contact-body-service.form-contact-main{
        margin: 0;
        padding-top: 25px;
    }
}

@media (max-width:667px) {
    .box-title .title h2 a {
        min-width: max-content;
    }

    .box-title .title h2 {
        padding: 12px 1px 7.5px 15px;
    }

    .wrap-share {
        flex-direction: column;
    }
    .wrap-share.view-header{
        flex-direction: row;
    }
    .wrap-share.view-header .left .view-count{
        flex-direction: column;
        align-items: flex-start;
    }
    .wrap-share.view-header .left .view-count>div:first-child{ margin-right: 0;}
    .wrap-share.view-header .left .view-count>div{padding: 4px 0;}
    .wrap-share.view-header .cover-size{
        padding: 15px 0;
    }
    .wrap-button-captcha {
        align-items: flex-start;
        flex-direction: column;
    }

    .wrap-button-captcha .wrap-code-captcha {
        margin-bottom: 5px;
    }
    .control-right li {
        font-size: 13px;
        padding-left: 15px;
    }
    .control-right li a{
        min-width: max-content;
    }
}

@media (max-width:576px) {

    header#header .wrap-logo .title-logo .title {
        font-size: 16px;
    }

    header#header .wrap-logo .title-logo .title-child {
        font-size: 13px;
    }

    .wrap-header-right .date-now .date {
        font-size: 13px;
    }

    .wrap-header-right .date-now {
        margin-bottom: 9px;
        margin-top: 5px;
    }

    .wrap-blog-item-main .item-blog-2 {
        padding-bottom: 20px;
    }

    .item-blog-2 {
        flex-direction: column;
    }

    .item-blog-2 .box-image,
    .item-blog-2.item-6 .box-image,
    .item-blog-2.item-blog-5 .box-image {
        width: 100%;
        min-width: 100%;
        margin-bottom: 10px;
    }

    .item-blog-2 .content-blog {
        margin-left: 0;
    }

    .list-document-term .item-document-term,
    .list-document-term .item-document-term:last-child {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0 0 20px;
    }

    .list-document-term .item-document-term:last-child {
        margin-bottom: 0;
    }

    .item-member .box-content-member .title,
    .wrap-box-list-orther .box-item-hot-main .title-post-hot {
        min-height: auto;
    }

    .modal-content iframe {
        height: 300px;
    }

    .wrap-contact-susess .btn {
        font-size: 14px;
    }

    section#page-404 .title-page-404 {
        font-size: 26px;
    }

    section#page-404 .wrap-button {
        flex-direction: column;
    }

    section#page-404 .wrap-button .btn {
        margin: 0 0 10px 0 !important
    }
    .wrap-list-member .swiper-wrapper .swiper-slide {
        flex: 0 0 calc(100% / 3);
        max-width: calc(100% / 3);
    }
    .wrap-ad>div{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .wrap-footer{
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .item-blog-2 .box-image.fix-image-300{
        width: 100%;
        min-width: 100%;
        height: max-content!important;
    }
    .control-right li a span {
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .control-right {
        overflow-x: scroll;
        margin-left: 30px;
    }
    .wrap-tab-top-right .box-list-tab-detail .item-tab a {
        font-size: 15px;
    }
}

@media (max-width:428px) {
    .wrap-share .left li a {
        font-size: 12px;
    }

    .wrap-share ul li {
        margin-bottom: 5px;
    }

    .wrap-button-captcha .box-button-submit {
        width: 100%;
    }

    .wrap-button-captcha .box-button-submit .btn {
        width: 100%;
    }

    .wrap-contact-susess .title-contact-sucess {
        font-size: 28px;
    }
    .wrap-list-member .swiper-wrapper .swiper-slide {
        flex: 0 0 calc(100% / 2);
        max-width: calc(100% / 2);
    }
    .wrap-member .nav-tabs .nav-item{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .wrap-member .nav-tabs .nav-item .nav-link{
        font-size: 13px;
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .wrap-box-list-orther .box-title-section .title-section {
        font-size: 18px;
    }
    .box-title-section .view-more{
        min-width: max-content;
    }
    #mainContainer{
        min-width: 100%!important;
    }
    .wrap-contact-body-service .form-main .wrap-title h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .wrap-contact-body-service{
        padding: 15px;
    }
}
@media (max-width:375px) {
    .control-right li {
        font-size: 13px;
        padding-left: 7px;
    }
}
@media (max-width:320px) {
    .wrap-box-list-orther .box-title-section .title-section {
        font-size: 17px;
    }
}