@font-face {
    font-family: Font-Regular;
    src: url("./fonts/GOOGLESANS-REGULAR.TTF") format("truetype");
}

@font-face {
    font-family: Font-Bold;
    src: url("./fonts/GOOGLESANS-BOLD.TTF") format("truetype");
}

@font-face {
    font-family: Font-Medium;
    src: url("./fonts/GOOGLESANS-MEDIUM.TTF") format("truetype");
}
@font-face {
    font-family: Font-Extract;
    src: url("./fonts/OpenSans-ExtraBold.ttf") format("truetype");
}

:root {
    --font-normal: "Font-Regular";
    --font-bold: "Font-Bold";
    --font-medium: "Font-Medium";
    --font-extract: "Font-Extract";
    --color-blue: rgb(32, 63, 154);
    --color-red: rgb(222, 22, 21);
    --color-text: rgb(51, 51, 51);
    --color-border: rgb(221, 221, 221);
    --color-yellow: rgb(255, 255, 0);
}

* {
    margin: 0px;
    padding: 0px;
    line-height: 1.5;
}

*,
::before,
::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin-bottom: 0px;
}

a {
    color: var(--color-text);
    transition: all 0.4s ease 0s;
    display: inline-block;
}
strong *,
strong{
    font-family: var(--font-bold);
}

a:hover {
    text-decoration: none;
    color: var(--color-red);
    transition: all 0.4s ease 0s;
}

a:hover *:not(p, .view-count span) {
    color: var(--color-red);
    transition: all 0.4s ease 0s;
}

a:hover p {
    color: var(--color-text);
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

.mh-auto {
    min-height: auto !important;
}

.mw-auto {
    min-width: auto !important;
}

body {
    font-family: var(--font-normal);
    color: var(--color-text);
    font-size: 15px;
    line-height: 1.5;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover{
    color: var(--color-red)!important;
}

img {
    max-width: 100%;
    object-fit: cover;
    transition: all .4s;
}

/* img:hover {
    opacity: .8;
} */

main.overflow {
    overflow-x: hidden;
}

.owl-carousel.owl-drag .owl-item {
    line-height: 0;
}
.border-none{border:none!important}

a:not(.item):focus,
a:not(.item):focus-visible,
input,
input:focus,
button,
button:focus,
select,
select:focus,
select:focus-visible,
textarea,
textarea:focus,
textarea:focus-visible {
    box-shadow: none !important;
    /* border: none; */
    outline: none;
}

select.form-control{
    width: 100%;
    background-image: url(../images/icon-select.png)!important;
    background-repeat: no-repeat!important;
    background-position-x: calc(100% - 15px)!important;
    background-position-y: 15px!important;
    background-size: auto!important;
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    padding-right: 30px;
}

.container {
    width: 100%;
    max-width: 1220px;
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

[class*="col"] {
    padding-left: 10px;
    padding-right: 10px;
}

.font-bold {
    font-family: var(--font-bold);
}


.bg-white {
    background-color: white;
}

.bg-blue {
    background-color: var(--text-main);
}

.bg-gray {
    background-color: var(--background-gray-main);
}

.color-gray {
    color: var(--color-text);
}

.bg-color-main {
    background-color: var(--color-main)
}

.color-main *,
.color-main {
    color: var(--color-main) !important
}

body.overflow {
    overflow: hidden;
}

.btn {
    transition: all .4s;
    display: inline-flex;
    align-items: center;
    margin: 0 5px;
    justify-content: center;
    min-width: max-content;
}

.btn.btn-color-main {
    background: var(--color-main);
    color: #000000;
    border: 1px solid var(--color-main)
}

.btn-color-main:hover {
    background-color: transparent;
    color: var(--color-text);
}

.btn.btn-color-yellow-main {
    background: var(--color-main-yellow);
    color: #FFF;
    border: 1px solid var(--color-main-yellow)
}

.btn-color-yellow-main:hover {
    background-color: transparent;
    color: #fff;
}

.btn.btn-border-color-yellow-main {
    background: transparent;
    color: #FFF;
    border: 1px solid var(--color-main-yellow)
}

.btn-border-color-yellow-main:hover {
    background-color: var(--color-main-yellow);
    color: #fff;
}

.btn.btn-border-color-main {
    border: 1px solid var(--color-main)
}

.btn.btn-border-blue{
    border:1px solid var(--color-blue);
    color: var(--color-blue);
    background-color: #FFF;
}
.btn.btn-border-blue:hover{
    background-color: var(--color-blue);
    color: #FFF;
}
.btn.btn-border-gray{
    background-color: #FFF;
    border:1px solid rgb(231, 231, 231);
    color: var(--color-text);
}
.btn.btn-border-gray:hover{
    background-color: var(--color-blue);
    color: #FFF;
}
.btn-color-blue{
    background-color: var(--color-blue);
    color: #FFF;
    border: 1px solid var(--color-blue);
}
.btn-color-blue:hover{
    background-color: #FFF;
    color: var(--color-blue);

}
.btn.btn-red{
    background-color: var(--color-red);
    color: #FFF;
}
.btn.btn-red:hover{
    background-color: rgb(155 11 10);
}
.btn img{margin-left: 3px;}
  

.text-custom * {
    color: #FFF;
}

.box-image{border-radius: 5px; overflow: hidden;}
.box-image a {
    width: 100%;
    height: 100%;
}

.box-image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.color-main-yellow {
    color: var(--color-main-yellow);
}
.line-camp-2,
.line-camp-2 > a{
    -webkit-line-clamp: 2!important;
}
.line-camp-3,
.line-camp-3 a{
    -webkit-line-clamp: 3!important;
}

body {
    background-image: url(../images/bg-body.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.border-radius-5{
    border-radius: 5px;
    overflow: hidden;
}



/* header  */
header#header {
    padding: 10px 0;
}

header#header .wrap-logo {
    display: flex;
    align-items: center;
}

header#header .wrap-logo .logo {
    margin-right: 10px;
}

header#header .wrap-logo .title-logo .title {
    font-size: 26px;
    color: rgb(237, 27, 36);
    font-family: var(--font-extract);
    margin-bottom: 10px;
    background: linear-gradient(to bottom, rgb(237, 27, 36) 0%, #5e0f30 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px #fff
}

header#header .wrap-logo .title-logo .title-child {
    font-size: 18px;
    font-family: var(--font-bold);
    color: rgb(0, 0, 0);
    ;
}

header#header .wrap-header-right {
    text-align: right;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

header#header .wrap-header-right .form-search input {
    background-image: url(../images/icon-search-gray.png) !important;
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: 14px;
    background-size: auto !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: none;
    padding: 5px 10px;
}

.wrap-header-right .date-now {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.wrap-header-right .date-now .date {
    color: rgb(51, 51, 51);
    margin-left: 8px;
}



/* menu */
.menu {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
}

.menu .wrap-menu {
    display: flex;
    align-items: center;
    background-color: rgb(32, 63, 154);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0 5px;
    position: relative;
}

.menu .wrap-menu a {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 14px;
    line-height: 1;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    width: max-content;
}

.menu .wrap-menu a:hover {
    color: rgb(252, 241, 3);
}

.menu .wrap-menu .box-menu-display {
    display: flex;
    align-items: center;
    width: 100%;
}

.menu .wrap-menu .box-menu-display .item:first-child a {
    border: none;
    padding-right: 3px;
}

.menu .wrap-menu .box-menu-display .item:nth-child(2) a {
    border-left: none;
}

.menu .wrap-menu .wrap-menu-child {
    position: absolute;
    top: 16px;
    right: 15px;
    z-index: 10;
}

.menu .wrap-menu .box-menu-display a:not(:first-child) {
    margin-bottom: -3px;
}

.menu .wrap-menu .wrap-menu-child .icon-toggle-menu-child {
    width: 18px;
    height: 16px;
    display: flex;
    align-items: center;
    /* margin-left: 15px; */
    position: relative;
    cursor: pointer;
}

.menu .wrap-menu .wrap-menu-child .icon-toggle-menu-child span {
    width: 100%;
    height: 2px;
    background-color: #FFF;
    display: block;
}

.menu .wrap-menu .wrap-menu-child .icon-toggle-menu-child span::before,
.menu .wrap-menu .wrap-menu-child .icon-toggle-menu-child span::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #FFF;
    display: block;
    position: absolute;
    transition: all .2s;
}

.menu .wrap-menu .wrap-menu-child .icon-toggle-menu-child span::before {
    top: 0;
    transition: all .2s;
}

.menu .wrap-menu .wrap-menu-child .icon-toggle-menu-child span::after {
    bottom: 0;
    transition: all .2s;
}

.menu .wrap-menu .wrap-menu-child .icon-toggle-menu-child.active span {
    background-color: transparent;
}

.menu .wrap-menu .wrap-menu-child .icon-toggle-menu-child.active span::before {
    top: 7px;
    transform: rotate(45deg);
    transition: all .2s;
}

.menu .wrap-menu .wrap-menu-child .icon-toggle-menu-child.active span::after {
    bottom: 7px;
    transform: rotate(-45deg);
    transition: all .2s;
}

.menu .wrap-menu .wrap-menu-child .box-menu-child {
    position: absolute;
    top: 32px;
    right: 0;
    min-width: 200px;
    border-top: 1px solid #FFF;
    display: none;
}
.menu .wrap-menu .wrap-menu-child .box-menu-child.active{
    display: block;
}

.menu .wrap-menu .wrap-menu-child .box-menu-child a {
    display: block;
    background-color: rgb(32, 63, 154);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    padding: 10px 15px;
    padding: 11px 15px 7px;
    width: 100%;
}

.menu .wrap-menu .wrap-menu-child .box-menu-child .item:last-child>a{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menu .wrap-menu .box-menu-display .item {
    position: relative;
}

.menu .wrap-menu .menu-child {
    position: absolute;
    top: 100%;
    min-width: 200px;
    border-top: 1px solid #FFF;
    transform: translateY(30px);
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
}

.menu .wrap-menu .item {
    padding: 16px 0 12px;
}

.menu .wrap-menu .item:first-child {
    padding: 0 0 5px;
}

.menu .wrap-menu .item:hover>.menu-child,
.menu .wrap-menu .item-child:hover .menu-child {
    transform: translateY(0);
    transition: all .3s;
    opacity: 1;
    visibility: visible;
}

.menu .wrap-menu .menu-child .item-child {
    position: relative;
}

.menu .wrap-menu .menu-child .item-child a {
    display: block;
    background-color: rgb(32, 63, 154);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    padding: 10px 15px;
    padding: 11px 15px 7px;
    width: 100%;
}

.menu .wrap-menu .menu-child .item-child:last-child a {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menu .wrap-menu .menu-child .item-child>a:hover,
.menu .wrap-menu .wrap-menu-child .box-menu-child a:hover {
    background-color: rgb(252, 241, 3);
    color: rgb(32, 63, 154);
}

.menu .wrap-menu .menu-child .item-child .menu-child {
    left: 100%;
    top: 0;
}
.menu .wrap-menu-child .box-menu-child .item{
    padding-top: 0;
    padding-bottom: 0;
}
.menu .wrap-menu-child .box-menu-child .menu-child{
    top: 0;
    right: 100%;
}
.menu .wrap-menu-child .box-menu-child .menu-child .item-child .menu-child {
    left: auto;
    right: 100%;
    top: 0;
}

/* footer  */
/* footer  */
/* footer  */

footer#footer{
    margin-top: 20px;
    background-image: -moz-linear-gradient( 180deg, rgb(44,82,193) 0%, rgb(32,63,154) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(44,82,193) 0%, rgb(32,63,154) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(44,82,193) 0%, rgb(32,63,154) 100%);
}

/* menu footer  */
.wrap-menu-footer.menu .wrap-menu .menu-child{
    top: auto;
    bottom: 100%;
}
.wrap-menu-footer.menu .wrap-menu .menu-child .item-child .menu-child {
    left: 100%;
    top: auto;
    bottom: 0;
}
.wrap-menu-footer.menu .wrap-menu .menu-child .item-child:last-child a{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.menu .wrap-menu .wrap-menu-child .box-menu-child .item-child:first-child a{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.wrap-menu-footer.menu .wrap-menu .menu-child .item-child:first-child a{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.wrap-menu-footer.menu .wrap-menu .wrap-menu-child .box-menu-child .item:first-child a{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.wrap-menu-footer.menu .wrap-menu .wrap-menu-child .box-menu-child .item:last-child a{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.wrap-menu-footer.menu .wrap-menu .wrap-menu-child .box-menu-child{
    top: auto;
    bottom: 100%;
    border:none;
    border-bottom: 1px solid transparent;
    margin-bottom: 20px;
}
.wrap-menu-footer.menu .wrap-menu{
    background-color: transparent;
    padding:5px 0;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    justify-content: space-between;
}
.wrap-menu-footer.menu .wrap-menu .box-menu-child .menu-child {
    top: auto;
    bottom: 0;
}
.wrap-menu-footer.menu .wrap-menu .box-menu-child .menu-child .item-child .menu-child {
    left: auto;
    top: auto;
    bottom: 0;
}
.wrap-footer{
    padding: 35px 0;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}
.wrap-menu-footer.menu .wrap-menu .box-menu-display {
    width: 100%;
    /* justify-content: space-between; */
}
.wrap-menu-footer.menu .wrap-menu .wrap-menu-child {
    top: 21px;
}
.wrap-menu-footer.menu .wrap-menu .item-menu:not(:last-child) a {
    border-right: none;
}
.wrap-menu-footer.menu .wrap-menu .item-menu:last-child a {
    border-color: rgba(255, 255, 255, 0.3);
}
/* .wrap-menu-footer.menu .wrap-menu .wrap-menu-child {
    margin-top: 4px;
} */
.wrap-footer .box-item-footer .title{
    font-size: 15px;
    color: #FFF;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.wrap-footer .box-item-footer ul li{
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
}
.wrap-footer .box-item-footer ul li:last-child{
    margin-bottom: 0;
}
.wrap-footer .box-item-footer ul li .icon-footer{
    min-width: max-content;
    margin-right: 10px;
}
.wrap-footer .box-item-footer ul li .icon-footer img{
    width: max-content;
    min-width: max-content;
}
.wrap-footer .box-item-footer ul li .box-content-footer{
    color: #FFF;
    
}
.wrap-footer .box-item-footer ul li .box-content-footer a{
    color: #fff;
}
.wrap-footer .box-item-footer ul li .box-content-footer a:hover{
    color: var(--color-red);
}

/* footer-last */
.footer-last{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    font-size: 14px;
    padding: 10px 0;
}
.footer-last p a{
    color: rgba(255, 255, 255, 0.4);
}
.footer-last p a:hover{
    color: var(--color-red);
}
.footer-last ul{
    display: flex;
    align-items: center;
}
.footer-last ul li{
    margin-left: 5px;
}
.footer-last ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border:1px solid rgb(63, 113, 208);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    background-color: rgb(29, 83, 183);
}
.footer-last ul li img{
    width: max-content;
}

/* end footer  */
/* end footer  */

/* breadcrumb  */
section#breadcrumb{
    padding: 0!important;
}
#breadcrumb ul{
    display: flex;
    align-items: center;
    padding: 10.5px 20px;
    position: relative;
    background-color: rgb(248, 248, 248);
    z-index: 2
}
  
#breadcrumb ul li{
    margin-right: 10px;
    font-size: 14px;
    font-family: var(--font-normal);
    min-width: max-content;
}
#breadcrumb ul li *{
    color: rgb(51, 51, 51);
}
#breadcrumb ul li i{
    margin-right: 7px;
    color: rgb(51, 51, 51);
}
#breadcrumb ul li:first-child i{
    margin-right: 2px;
}
#breadcrumb ul li a:hover, #breadcrumb ul li a:hover *{
    color: var(--color-red);
}


/*  */

.Ellipse_3 {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(63, 113, 208);
    border-radius: 50%;
    position: absolute;
    left: 1476px;
    top: 5153px;
    width: 32px;
    height: 32px;
    z-index: 666;
  }
  


/* blog */
.box-blog-hot {
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

/* .box-blog-hot .wrap-left-blog-hot{padding-left: 20px;} */

.item-blog-small-1 {
    display: flex;
    align-items: center;
    padding: 9px 0;
    border-bottom: 1px dashed var(--color-border);
}

.wrap-blog .item-blog-small-1:first-child {
    padding-top: 0;
}

.wrap-blog .item-blog-small-1:last-child {
    border-bottom: none;
}

.item-blog-small-1 .box-image {
    margin-right: 10px;
    min-width: 98px;
    width: 98px;
}

.item-blog-small-1 .box-image img {
}

.item-blog-small-1 .title-blog a {
    font-size: 15px;
    line-height: 1.467;
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


/* post-focus */
.post-focus {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(232, 222, 47);
    border-radius: 5px;
    background-color: rgb(255, 254, 236);
    padding: 10px 0 10px 20px;
    margin-top: 10px;
    height: 240px;
    overflow: hidden;
}

.post-focus .title-box {
    display: flex;
    align-items: center;
}

.post-focus .title-box span {
    color: var(--color-red);
    text-transform: uppercase;
    font-family: var(--font-bold);
    font-size: 16px;
    display: inline-block;
    margin-left: 10px;
}

.post-focus .box-list-item-focus {
    height: 100%;
    padding-right: 20px;
    overflow-y: scroll;
    padding-bottom: 20px;
}

.post-focus .box-list-item-focus .item:last-child .title {
    border-bottom: none
}

.post-focus .box-list-item-focus::-webkit-scrollbar {
    width: 3px;
}

/* Track */
.post-focus .box-list-item-focus::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.post-focus .box-list-item-focus::-webkit-scrollbar-thumb {
    background: rgb(216, 216, 216);
}

/* Handle on hover */
.post-focus .box-list-item-focus::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.Rounded_Rectangle_1 {
    background-color: rgb(216, 216, 216);
    position: absolute;
    left: 630px;
    top: 585px;
    width: 3px;
    height: 149px;
    z-index: 69;
}

.post-focus .box-list-item-focus .item.item-blog-small-1 {
    padding-top: 5px;
    padding-bottom: 10px;
}

.post-focus .box-list-item-focus .item.item-blog-small-1 .title-blog {
    border: none;
    padding: 0;
}

.post-focus .box-list-item-focus .item.item-blog-small-1 .title-blog a {
    font-size: 14px;
    line-height: 1.467;
    -webkit-line-clamp: 3;
}

.post-focus .box-list-item-focus .item .title {
    padding: 9px 0;
    border-bottom: 1px dashed var(--color-border);
}

.post-focus .box-list-item-focus .item a {
    font-size: 15px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.box-item-hot-main {
    margin-top: 5px;
}

.box-item-hot-main .title-post-hot {
    margin-top: 20px;
    margin-bottom: 20px;
}

.box-item-hot-main .title-post-hot a {
    font-size: 24px;
    line-height: 1.417;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.box-item-hot-main .conten-hot {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.box-item-hot-main .box-image img {
    border-radius: 7px;
}


/* wrap-ad */
.wrap-ad {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 201, 201);
    border-radius: 5px;
    background-color: rgb(255, 236, 236);
    padding: 10px 15px;
    margin-top: 5px;
}

.wrap-ad .title-ad {
    font-size: 16px;
    color: var(--color-red);
    text-transform: uppercase;
    font-family: var(--font-bold);
    margin-bottom: 5px;
    padding-left: 3px;
}

.wrap-ad .list-hotline-ad {
    display: flex;
    align-items: center;
}

.wrap-ad .list-hotline-ad span {
    display: inline-block;
    padding: 0 2px
}

.wrap-ad .list-hotline-ad img {
    min-width: max-content;
    margin-right: 5px;
}

.wrap-ad .list-hotline-ad a {
    font-size: 16px;
}

/* wrap-connect-fb */
.wrap-connect-fb {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 222, 255);
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    text-align: center;
    padding: 0 20px 13px;
}

.wrap-connect-fb .title-connect {
    font-size: 16px;
    color: var(--color-blue);
    background-color: #FFF;
    padding: 0 5px 5px;
    display: block;
    width: max-content;
    margin: -10px auto 0;
    /* margin-top: -15px; */
}

.wrap-connect-fb .box-list-connect {}

.wrap-connect-fb .box-list-connect .item-connect {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(223, 231, 255);
    border-radius: 7px;
    background-image: -moz-linear-gradient(-90deg, rgb(243, 246, 255) 0%, rgb(223, 231, 255) 99%);
    background-image: -webkit-linear-gradient(-90deg, rgb(243, 246, 255) 0%, rgb(223, 231, 255) 99%);
    background-image: -ms-linear-gradient(-90deg, rgb(243, 246, 255) 0%, rgb(223, 231, 255) 99%);
    margin-bottom: 10px;
    padding: 7px 10px;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.wrap-connect-fb .box-list-connect .item-connect:last-child {
    margin: 0;
}

.wrap-connect-fb .box-list-connect .item-connect img {
    margin-right: 10px;
    min-width: max-content;
}

/* wrap-read-print  */
.wrap-read-print {
    padding: 12px 20px 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 222, 255);
    border-radius: 5px;
    background-color: rgb(231, 237, 255);
    margin-top: 10px;
}

.wrap-read-print .title-read {
    font-size: 16px;
    padding-left: 15px;
    position: relative;
}

.wrap-read-print .title-read:before {
    content: "";
    position: absolute;
    width: 3px;
    height: 16px;
    background-color: var(--color-red);
    left: 0;
    top: 3px;
}

.wrap-read-print {}

/* banner  */
.banner {
    margin-top: 20px;
}

.banner .box-image {
    margin-bottom: 20px;
}


/* member */
.wrap-member {
    padding: 10px;
    border-radius: 7px;
}

.wrap-member .nav-tabs {
    border: none
}

.wrap-member .nav-tabs .nav-item {}

.wrap-member .nav-tabs .nav-item .nav-link {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(222, 22, 21);
    background-color: rgba(32, 63, 154, 0);
    font-size: 14px;
    font-family: var(--font-bold);
    text-transform: uppercase;
    margin-right: 5px;
    border-radius: 30px;
    color: var(--color-red);
    padding: 7px 15px 4px;
    position: relative;
}

.wrap-member .nav-tabs .nav-item .nav-link.active {
    background-color: var(--color-blue);
    color: rgb(253, 240, 4);
    border-color: var(--color-blue);
}

.wrap-member .nav-tabs .nav-item .nav-link.active::before {
    content: "";
    border-top: 10px solid var(--color-blue);
    border-right: 14px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 3px solid transparent;
    position: absolute;
    top: 100%;
    left: 25%;
}

.wrap-member {}

.wrap-list-member {
    overflow: hidden;
}

.wrap-list-member .swiper-wrapper {
    display: flex;
    padding: 14px 0 0;
}

.wrap-list-member .swiper-wrapper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    flex: 0 0 calc(100% / 6);
    max-width: calc(100% / 6);
}

.wrap-list-member .swiper-wrapper .swiper-slide a{
    width: 100%;
}
.wrap-list-member .swiper-wrapper .swiper-slide img {
    /* min-width: max-content; */
    width: 100%;
}

/* 135 */
/* banner height 42, size 17 */

.box-title {
    background-color: rgb(225, 233, 255);
    border-radius: 4px;
    position: relative;
    width: calc(100% - 30px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-title::before {
    content: "";
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -30px;
    background-image: url(../images/bg-title-main.png);
    background-repeat: no-repeat;
}
.control-right{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    margin-right: -10px;
}
.control-right li{
    font-size: 14px;
    padding-left: 30px;
}
.control-right li a{
    display: flex;
    align-items: center;
}
.control-right li a span{
    min-width: max-content;
    display: block;
    margin-right: 4px;
}
.control-right li a img{min-width: max-content;display: block;}


.box-title .title h2 {
    border-radius: 2px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    display: inline-block;
    font-size: inherit;
    padding: 11px 1px 7.5px 15px;
    border-right: none;
    position: relative;
    text-transform: uppercase;
    background-color: var(--color-blue);
    background-image: -moz-linear-gradient(180deg, rgb(44 80 185) 0%, rgb(32, 63, 154) 100%);
    background-image: -webkit-linear-gradient(180deg, rgb(44 80 185) 0%, rgb(32, 63, 154) 100%);
    background-image: -ms-linear-gradient(180deg, rgb(44 80 185) 0%, rgb(32, 63, 154) 100%);
    height: 44px;
}

.box-title .title h2::before {
    content: "";
    width: calc(100% - 3px);
    left: 2px;
    position: absolute;
    top: 2px;
    height: calc(100% - 4px);
    border: 1px solid rgb(255 255 255 / 30%);
    border-right: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.box-title .title h2::after {
    content: "";
    background-image: url(../images/bg-title.png);
    width: 27px;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: -25px;
    background-repeat: no-repeat;
}
.box-title.red{
    background-color: rgb(255, 222, 222);
}
.box-title.red::before{
    background-image: url(../images/bg-title-red-main.png);
}
.box-title.red .title h2{
    background-color: var(--color-red);
    background-image: -moz-linear-gradient( 180deg, rgb(222,22,21) 0%, rgb(181,7,6) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(222,22,21) 0%, rgb(181,7,6) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(222,22,21) 0%, rgb(181,7,6) 100%);
}
.box-title.red .title h2::before{}
.box-title.red .title h2::after{
    background-image: url(../images/bg-title-red.png);
}

  

.box-title .title h2 a {
    color: #FFF;
    font-size: 17px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}
.box-title .title h2 a:hover{
    color: var(--color-red);
}
.box-title.red .title h2 a:hover{
    color: var(--color-blue)!important;
}


.wraps-blog {
    margin-top: 20px;
}

.wrap-blog-item-main {
    padding: 42px 20px 20px 20px;
    margin-top: -22px;
    height: calc(100% - 22px);
}
.wrap-blog-item-main.wrap-video-toppage{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 222, 255);
}
.wrap-blog-item-main.bg-white.wrap-video-toppage>.row>.col-lg-5{
    flex:  0 0 39.8981324278438%;
    max-width: 39.8981324278438%;
}
.wrap-blog-item-main.bg-white.wrap-video-toppage>.row>.col-lg-7{
    flex:  0 0 60.1018675721562%;
    max-width: 60.1018675721562%;
}
  

/* item-blog-2 */
.item-blog-2 {
    display: flex;
}

.wrap-blog-item-main .item-blog-2 {
    padding-bottom: 5px;
}

.item-blog-2 .box-image {
    width: 260px;
    min-width: 260px;

}

.item-blog-2 .box-image img {
    border-radius: 5px;
}

.item-blog-2 .content-blog {
    margin-left: 15px;
}

.item-blog-2 .content-blog .title {
    font-size: 18px;
    margin-bottom: 10px;
    padding: 0;
}

.item-blog-2 .content-blog .title a {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.333;
}

.item-blog-2 .content-blog .content-hot {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin: 0;
    line-height: 1.333;
}

/* item-blog-small-3 */
.item-blog-small-3 {
    display: flex;
}

.item-blog-small-3 .box-image {
    width: 136px;
    min-width: 136px;
    height: 76px;
}

.item-blog-small-3 .title-blog {
    margin-left: 10px;
}

.item-blog-small-3 .title-blog a {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 15px;
    line-height: 1.333;
}

.list-blog-2 .item{
    padding: 15px 0;
    border-bottom: 1px dashed var(--color-border);
}
.list-blog-2>div:last-child .item,
    .list-blog-2>div:nth-last-child(2) .item{
    border: none;
    padding-bottom: 0;
}

/* wrap-video-toppage */
.wrap-video-toppage .col-md-5{
    flex: 0 0 39.83050847457627%;
    max-width: 39.83050847457627%;
}
.wrap-video-toppage .col-md-7{
    flex: 0 0 60%;
    max-width: 60%;
}
.item-blog-4 .box-image{
    position: relative;
}
.item-blog-4 .title{
    background: linear-gradient(to top, rgba(0,0,0,0.85882), transparent);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 15px;
}
.item-blog-4 .title a{
    color: #FFF;
    font-size: 15px;
    display: flex;
    align-items: center;
}
.item-blog-4 .title a span{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 15px;
    line-height: 1.333;
}
.item-blog-4 .title img{max-width: max-content; margin-right: 10px;}
.wrap-video-small{margin-bottom: -20px;}
.wrap-video-small [class*="item-blog-"]{
    margin-bottom: 20px;
}

.wrap-video-small .item-blog-4 .title{padding: 6px;}


/*  */
.wrap-list-blog-3 .col-md-5{
    flex: 0 0 44.91428571428571%;
    max-width: 44.91428571428571%;
}
.wrap-list-blog-3 .col-md-7{
    flex: 0 0 calc(100% - 44.91428571428571%);
    max-width: calc(100% - 44.91428571428571%);
}
.blog-item-main-3.box-item-hot-main .title-post-hot a{
    font-size: 18px;
    line-height: 1.417;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.blog-item-main-3.box-item-hot-main .title-post-hot {
    margin-top: 15px;
    margin-bottom: 10px;
}
  
.blog-item-main-3.box-item-hot-main .conten-hot {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.wrap-list-blog-small-3{}
.wrap-list-blog-small-3 .item-blog-small-3:first-child{padding-top: 0;}
.wrap-list-blog-small-3 .item-blog-small-3:last-child{
    padding-bottom: 0;
    border:none
}
.wrap-list-blog-small-3 .item-blog-small-3 .box-image {
    width: 170px;
    min-width: 170px;
    height: auto;
}

.wrap-list-blog-small-3 .item-blog-small-3{
    padding: 20px 0;
    border-bottom: 1px dashed var(--color-border);
}


/* list-slide-libary-image */
.list-slide-libary-image{
    margin-top: 20px;
}
.list-slide-libary-image .title-libary{
    background-image: -moz-linear-gradient( 180deg, rgb(44,82,193) 0%, rgb(32,63,154) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(44,82,193) 0%, rgb(32,63,154) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(44,82,193) 0%, rgb(32,63,154) 100%);
    text-transform: uppercase;
    line-height: 1;
    font-size: 17px;padding: 0 20px;
}
.list-slide-libary-image .title-libary a{
    position: relative;
    color: #FFF;
    padding: 11px 0 7.5px 15px;
}
.list-slide-libary-image .title-libary a.rs{line-height: 1.5!important;}
.list-slide-libary-image .title-libary a::before{
    content: "";
    width: 3px;
    height: 16px;
    background-color: var(--color-yellow);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

  
.wrap-slide-libary-main{
    padding: 20px 20px 13px;
}
  



/* custom icon-control slide  */

.owl-carousel .owl-item .item {
    width: 100%;
}

.owl-carousel .owl-item .item img {
    width: 100%;
}

.owl-theme .owl-nav {
    margin: 0;
    height: 0;
}

.owl-carousel .owl-nav button span,
.owl-carousel .owl-nav button span {
    font-size: 30px;
}

.owl-carousel .owl-nav button {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    margin-top: -35px;
    background: transparent !important;
    opacity: 1 !important;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
}

.owl-carousel .owl-nav button {
    top: 50%;
    transform: translateY(-50%);
    margin: 0!important;
}

.owl-carousel .owl-nav button.owl-prev {
    left: 10px;
}

.owl-carousel .owl-nav button.owl-next {
    right: 10px;
}
.owl-carousel .owl-nav button::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    border: 2px solid transparent;
    background-color: rgb(247, 247, 248, 0.502);
    font-family:  "Font Awesome 5 Pro";
    font-size: 18px;
    border:1px solid rgb(165, 166, 175);
    color: var(--color-blue);
}
.owl-carousel .owl-nav button.owl-prev::before {
    content: "\f104";
}
.owl-carousel .owl-nav button.owl-next::before {
    content: "\f105";
    padding-right: 0px;
    padding-left: 1px;
}
.owl-carousel .owl-nav button:hover::before {
    background-color: rgb(0, 0, 0, 0.502);
    color: rgb(255 255 255);;
}

.owl-carousel .owl-nav button.owl-prev span,
.owl-carousel .owl-nav button.owl-next span,
.owl-theme .owl-dots {
    display: none;
}
/*  */

.box-image-libary-image{
    position: relative;
}
.box-image-libary-image .icon-child{
    position: absolute;
    left: 5px;
    bottom: 5px;
    display: block;
    line-height: 1;
}
.box-image-libary-image.big .icon-child{
    left: 10px;
    bottom: 10px;
}
.box-image-libary-image .icon-child img{
    max-width: max-content;
}
.item-box-libary .title{margin: 10px 0}
.item-box-libary .title a{
    font-size: 15px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.slide-libary-toppage.owl-carousel .owl-nav button {
    top: 30%;
    transform: translateY(-30%);
    margin: 0!important;
}

/* .list-2item-libary */
.list-2item-libary{display: flex;
margin-left: -7.5px;
margin-right: -7.5px;
}
.list-2item-libary .item-libary{
    flex: 0 0 calc(50%);
    max-width: 50%;
    padding: 0 7.5px;
}
.list-2item-libary .item-libary .title{margin-top: 10px;}
.list-2item-libary .item-libary .title a{
    /* color: #FFF; */
    font-size: 15px;
    line-height: 1.333;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}


/* wrap-read-post-hot */
.wrap-read-post-hot{
    padding: 20px 20px 15px 20px;
}
.wrap-read-post-hot .item-read{
    display: flex;
    padding: 15px 0;
    border-bottom: 1px dashed var(--color-border);
}
.wrap-read-post-hot .item-read:first-child{
    padding-top: 0;
}
.wrap-read-post-hot .item-read:last-child{
    border:none;
    padding-bottom: 0;
}
.wrap-read-post-hot .item-read .number{
    margin-right: 15px;
    color: rgb(255, 180, 179);
    font-size: 60px; 
    font-family: var(--font-bold);
    line-height: 1;
    font-style: italic;

}
.wrap-read-post-hot .item-read .number .box-image{
    min-width: 98px;
    width: 98px;
    position: relative;
    overflow: unset;
}
.wrap-read-post-hot .item-read .number .box-image a,
.wrap-read-post-hot .item-read .number .box-image img{display: block;}
.wrap-read-post-hot .item-read .number .numberone-hot{
    position: absolute;
    top: -10px;
    left: -10px;
}
.wrap-read-post-hot .item-read .title{}
.wrap-read-post-hot .item-read .title a{
    font-size: 15px;
    line-height: 1.333;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

/* .item-blog-main */
.wrap-list-blog-2item{position: relative; padding-bottom: 10px;}
.wrap-list-blog-2item::before{ 
    content: "";
    position: absolute;
    bottom: 0;
    left: 10px;
    width: calc(100% - 20px);
    border-bottom: 1px dashed var(--color-border);
}
.item-blog-main .title{margin-top: 10px;}
.item-blog-main .title a{
    font-size: 16px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
  
/* item-blog-small-4 */
.item-blog-small-4{display: flex;}
.list-blog-2.list-blog-3{margin-bottom: -5px;}
.list-blog-2.list-blog-3 .item-blog-small-3 .box-image{
    min-width: 120px;
    width: 120px;
}
.banner.banner-margin-2{margin-top: 20px; margin-bottom: -20px;}

  /* wrap-list-blog-4 */
  .wrap-list-blog-4 .col-lg-5{
    flex: 0 0 37.21311475409836%;
    max-width: 37.21311475409836%;
  }
  .wrap-list-blog-4 .col-lg-7{
    flex: 0 0 calc(100% - 37.21311475409836%);
    max-width: calc(100% - 37.21311475409836%);
  }

  .list-blog-2.list-blog-4 .item-blog-small-3{padding: 10px 0;}
  .list-blog-2.list-blog-4 .item-blog-small-3:last-child{border:none;
padding-bottom: 0;}
  .list-blog-2.list-blog-4 .item-blog-small-3 .box-image{
    min-width: 100px;
    width: 100px;
}
.list-blog-2.list-blog-4 .item-blog-small-3 .title a{
    -webkit-line-clamp: 2;
}

.item-blog-2.item-blog-5 .box-image {
    width: 280px;
    min-width: 280px;
}

/* document-term */
.list-document-term{}
.list-document-term .item-document-term{
    position: relative;
    margin-bottom: 15px;
    border-radius: 5px;
    overflow: hidden;
}
.list-document-term .item-document-term:last-child{margin-bottom: 0;}
.list-document-term .item-document-term .title {
    background: linear-gradient(to top, rgba(0,0,0,0.85882), transparent);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 10px;
}
.list-document-term .item-document-term .title a{
    color: #FFF;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    text-align: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.list-document-term .item-document-term .title a:hover{
    color: var(--color-red);
}
.wrap-box>[class*="col-"]>div{height: calc(100% - 20px);}
.wrap-list-3item{padding-bottom: 15px;}
.wrap-list-3item::before{display: none;}

.list-blog-2.list-blog-5 .item-blog-small-4 .box-image{
    min-width: 140px;
    width: 140px;
}
.list-blog-2.list-blog-5 .item-blog-small-4{padding: 10px 0;border:none}
.list-blog-2.list-blog-5 .item-blog-small-4:first-child{padding-top: 0;}
.list-blog-2.list-blog-5 .item-blog-small-4:last-child{
    padding-bottom: 0;
    border-bottom: 0;
}
.list-blog-2.list-blog-4 .item-blog-padding-5 {
    padding: 15px 0;
}
.item-blog-2.item-blog-5 .box-item-small-content .box-image {
    width: 100px;
    min-width: 100px;
}
.wrap-blog-item-main .item-blog-2.item-blog-5{padding-bottom: 0;}
/* .item-blog-2.item-blog-5 .content-blog .title{margin-bottom: 5px;} */
.item-blog-2.item-blog-5 .content-blog .box-item-small-content{
    padding-bottom: 10px;
    border-bottom: 1px dashed var(--color-border);
    margin-top: -5px;
}
.item-blog-2.item-blog-5 .content-blog .box-item-small-content .title{
    margin-bottom: 0;
}
.list-blog-2.list-blog-6 .item{
    padding: 12px 0;
}
.list-blog-2.list-blog-6 .item:last-child{
    padding-bottom: 0;
    border-bottom: 0;
}
.list-blog-2.list-blog-6 .item .item-blog-dot{
    position: relative;
padding-left: 20px;
margin: 0;
}
.list-blog-2.list-blog-6 .item .item-blog-dot::before{
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 100%;
    border:1px solid var(--color-blue);
    position: absolute;
    top: 4px;
    left: 0;
}

.wrap-link-website{
    margin-top: 20px;
    border-top: 3px solid var(--color-blue);
    padding: 10px 20px 20px;
}
.wrap-link-website .title-box{
    position: relative;
    line-height: 1;
    font-size: inherit;
    margin-bottom: 10px;
}
.wrap-link-website .title-box a{
    padding-left: 15px;
    position: relative;
    text-transform: uppercase;
    font-family: var(--font-bold);
    font-size: 17px;
    color: var(--color-blue);
}
.wrap-link-website .title-box a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 3px;
    height: 16px;
    background-color: var(--color-red);
}
.wrap-link-website{}
.slide-links .item{
    border:1px solid rgb(231, 231, 231);
    border-radius: 5px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.slide-links .item .box-image{
    height: max-content;
    line-height: unset;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide-links .item img{
    max-width: auto;
    width: auto;
    max-height: 100%;
}
.slide-links.owl-carousel .owl-nav{
    height: max-content;
    position: absolute;
    top: -40px;
    right: 0;
}
.slide-links.owl-carousel .owl-nav button {
    top: 0;
    transform: none;
    position: relative;
    left: auto;
    right: auto;
    margin-left: 5px!important;
}

.wrap-page-main{
    padding: 20px;
}

  /* wrap-right-page */
  .wrap-right-page>*:not(:last-child){
    margin-bottom: 20px;
  }
  .wrap-right-page .list-slide-libary-image .wrap-read-post-hot{
    border:1px solid rgb(211, 222, 255);
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
 
  /* slide-magazine */
.slide-magazine{margin-top: 7px;}
.slide-magazine .item{}
.slide-magazine .item .title{
    margin-top: 5px;
}
.slide-magazine .item .title a{
    font-size: 1rem;
    line-height: 1.3333;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.box-btn-magazine{display: flex; margin-top: 4px; justify-content: center;}
.box-btn-magazine .btn.btn-border-blue.font-bold{
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 4px;
    line-height: 1;
    font-size: 14px;
    height: 36px;
}
.box-btn-magazine .btn{
    height: 36px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    margin: 0 4px
}
.wrap-right-page .box-btn-magazine .btn{
    margin: 0 2.5px;
    padding-left: 8px;
    padding-right: 8px;
}
.box-btn-magazine .btn-border-gray:hover I{color: #FFF;}
.wrap-right-page .wrap-read-print.bg-read-right{
    background-color: #FFF;
    border-top: 3px solid var(--color-blue);
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

/* "wrap-tab-top-right */
.wrap-tab-top-right{
    background-color: rgb(255, 236, 236);

}
  
.wrap-tab-top-right .title{}
.wrap-tab-top-right .title a{
    color: #FFF;
    display: block;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    background-color: var(--color-red);
    padding: 12px 20px 8px;
}
.wrap-tab-top-right .title a:hover{
    color: var(--color-yellow)!important;
}
.wrap-tab-top-right .box-list-tab-detail{}
.wrap-tab-top-right .box-list-tab-detail .item-tab .title-item-tab{
    padding: 9.5px 20px 7.5px;
    border-bottom: 1px solid rgb(233, 203, 203);
    width: 100%;
    transition: all .3s;
}
.wrap-tab-top-right .box-list-tab-detail .item-tab a{
    font-size: 16px;
    display: block;
    width: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    padding-left: 20px;
    line-height: 1.375;
}
  
.wrap-tab-top-right .box-list-tab-detail .item-tab:last-child .title-item-tab{
    border-bottom: none;
}
.wrap-tab-top-right .box-list-tab-detail .item-tab>.title-item-tab>a::before{
    content: "";
    min-width: 8px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    border: 1px solid var(--color-red);
    position: absolute;
    top: 8px;
    left: 0px;
}

.box-list-tab-detail .item-tab .box-tab-child{
    width: 100%;
    display: none;
}
.box-list-tab-detail .item-tab .box-tab-child li{
    width: 100%;
}
.box-list-tab-detail .item-tab .box-tab-child .title-item-tab{
    display: flex;
    align-items: center;
    padding-left: 40px;
}
.box-list-tab-detail .item-tab .box-tab-child .title-item-tab a{
    padding-left: 0;
}
.box-list-tab-detail .item-tab .box-tab-child img{
    min-width: max-content;
    width: max-content;
    display: block;
    margin-right: 5px;
    transition: all .3s;
}
.box-list-tab-detail .item-tab .box-tab-child .toggle-tab-item.active img{
    transform: rotate(90deg);
}

/* box-list-video-right */
.box-list-video-right{
    padding: 10px 20px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 222, 255);
    border-radius: 5px;
    background-color: rgb(231, 237, 255);
    margin-top: 10px;
}
.box-list-video-right .title-video{
    font-size: 16px;
    position: relative;
    margin-bottom: 5px;
}
.box-list-video-right .title-video a{
    color: var(--color-blue);
    text-transform: uppercase;
}
.box-list-video-right .title-video img{
    min-width: max-content;
    width: max-content;
    margin-right: 5px;
}
.box-list-video-right .box-list-video-toppage-main{}
.box-list-video-toppage-main{}

  
.wrap-page-main .col-left-main{
    flex: 0 0 calc(100% - 25.84745762711864%);
    max-width: calc(100% - 25.84745762711864%);
}
.wrap-page-main .col-right-main{
    flex: 0 0 25.84745762711864%;
    max-width: 25.84745762711864%;
}

.item-box-libary .title{margin-top: 5px;}
.list-video-small{
    display: flex;
    align-items: center;
    margin:0 -3px
}
.list-video-small .item-video{
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
    padding: 0 3px;
}
.list-video-small .item-video .box-image{
    width: 100%;
}


.item-blog-2.item-6 .box-image {
    width: 300px;
    min-width: 300px;
}
.content-blog .date-post{
    display: flex;
    align-items: center;
    color: rgb(153, 153, 153);
    font-size: 14px;
    line-height: 1;
    margin-bottom: 15px;
    padding-top: 5px;
}
.content-blog .date-post img{
    min-width: max-content;
    width: max-content;
    margin-right: 5px;
    margin-top: -5px;
}
.list-blog-7 .item-blog-2.item-6{
    padding: 20px 0;
    border-bottom: 1px dashed var(--color-border);
}
.item-blog-2.item-6 .content-blog .title a{
    color: var(--color-blue);
}
.list-blog-7 .item-6:first-child {
    padding-top: 0;
}
/* .list-blog-7 .item-blog-2.item-6:last-child{
    padding-bottom: 0;
    border-bottom: none;
} */



/* detai page */
.wrap-blog-main-index{
   
}
.wrap-blog-main-index .title-section{
    margin-bottom: 15px;
}
.wrap-blog-main-index .col-main-left{
    flex: 0 0 79%;
    max-width: 79%;
}
.wrap-blog-main-index .col-right{
    flex: 0 0 21%;
    max-width: 21%;
}
.item-about .box-title{}
.item-about .box-title .title h3{
    text-transform: uppercase;
    font-size: 18px;
    font-family: var(--font-bold);
    text-transform: uppercase;
    margin: 15px 0;
    line-height: 1.5;

    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 54px;
}
.item-about .box-title .content-blog{
    margin-top: 15px;
    color: rgb(51, 51, 51);
    font-size: 16px;
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.item-about{
    height: 100%;
}
.item-about .box-image{
    width: 100%;
    max-width: 362px;
}
  

/*  */
.wrap-share {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(231 231 231 / 70%);
    border-bottom: 1px solid rgb(231 231 231 / 70%);
    margin-top: 25px;
    margin-bottom: 20px;
}

.wrap-share ul {
    display: flex;
    flex-wrap: wrap;
    padding: 6px 0;
    justify-content: center;
}

.wrap-share ul li {
    margin-right: 5px;
    display: flex;
    align-items: center;
}
.wrap-share .right ul li:first-child{
    margin-right: -10px;
}
.wrap-share .left li a {
    background-color: #F2F2F2;
    color: #b2b2b2;
    border-radius: 20px;
    height: 25px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    transition: all .4s;
    font-family: var(--font-Myriadpro);
}

.wrap-share li i {
    color: #b2b2b2;
    margin-right: 5px;
    transition: all .4s;
}

.wrap-share .left li a:hover {
    background-color: var(--color-blue);
    color: #FFF;
}

.wrap-share .left li a:hover i {
    color: #FFF;
}
.view-header{
    margin-top: 0;
}


.view-count {
    display: flex;
    align-items: center;
}

.view-count div {
    display: flex;
    align-items: center;
}

.view-count div:first-child {
    margin-right: 40px;
}

.view-count div img {
    width: auto !important;
    max-width: max-content;
    height: max-content!important;
}

.view-count div span {
    font-size: 14px;
    display: inline-block;
    margin-left: 5px;
    font-family: var(--font-Myriadpro)!important;
    color: #b4b4b4;
    line-height: 1;
    margin-bottom: -5px;
}
.cover-size{
    padding: 8px 0;
    color: #707070;
}
.cover-size span:first-child{
    cursor: pointer;
    font-size: 14px;
}
.cover-size .cover{
    background:#f6f6f6;
    display: inline-flex;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    transition: all .4s;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    cursor: pointer;
}
.cover-size .cover:hover{
    background-color: var(--color-red);
}
.cover-size .cover:hover i{
    color: #FFF;
}
.cover-size .cover i{
    color: #999999;
    line-height: 1;
    padding-top: 3px;
}
.box-title-main .title-content{
    margin-bottom: 15px;
    margin-top: 10px;
}
.box-title-main .title-content h1,
.box-title-main .title-content h2,
.box-title-main .title-content h3,
.box-title-main .title-content h4,
.box-title-main .title-content h5{
    font-size: 24px;
    font-family: var(--font-bold);
    color: var(--color-blue);
}
.box-title-main .title-content p{
    font-size: 17px;
}
.wrap-blog-detail-main{
    font-size: 16px;
} 
.wrap-blog-detail-main *:not(table, table *){
    line-height: 1.5;
    /* margin-bottom: 20px; */
    display: block;
}
.wrap-blog-detail-main br{
    display: contents;
}
.wrap-blog-detail-main p{
    text-align: justify;
    color: var(--color-text);
}


.wrap-blog-detail-main img{
    width: 100%!important;
    max-width: max-content!important;
    height: auto!important;
    margin: 10px auto;
    display: block;
}
.wrap-blog-detail-main ul{
    padding: 10px 0 0;
}
.wrap-blog-detail-main ul li{
    position: relative;
    padding-left: 15px;
    margin-bottom: 5px;
}
.wrap-blog-detail-main ul li::before{
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: var(--color-text);
    position: absolute;
    left: 0;
    top: 9px;
}
  

/* .wrap-box-list-orther */

.wrap-box-list-orther{
    margin-top: 35px;
}
.wrap-box-list-orther .box-title-section{
    margin-bottom: 13px;
}
.wrap-box-list-orther .box-title-section .title-section{
    font-size: 22px;
    color: var(--color-blue);
    margin-bottom: 0;
    text-transform: uppercase;
}
.box-title-section .view-more i {
    margin-bottom: -2px;
    margin-left: 5px;
}
.box-title-section .view-more:hover{
    color: var(--color-red);
}

.box-title-section{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.box-title-section .view-more{
    color: rgb(153, 153, 153);
    display: flex;
    align-items: center;
}
.wrap-box-list-orther .list-blog-7 .item-6:first-child{
    padding-top: 0;
}

.box-ad-right-item-child{
    background-color: rgb(231, 237, 255);
    border-color: rgb(231, 237, 255);
    padding-top: 15px;
    border-radius: 0;
}
.box-ad-right-item-child.wrap-ad .title-ad a{
    display: flex;
    align-items: flex-start;
    color: var(--color-blue);
    line-height: 1.333;
    padding-top: 5px;
}
.box-ad-right-item-child.wrap-ad .title-ad img{
    margin-right: 5px;
    margin-top: -4px;
}

.box-list-right-page-1 .post-focus{
    border-radius: 0;
    border-top: 3px solid var(--color-red);
}


/* box-counter-number  */
.box-counter-number{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 7px;
}
.box-counter-number .number{
    position: relative;
    width: 22px;
    height: 26px;
    border:2px solid #383838;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    padding-top: 0;
    padding-bottom: 3px;
    margin:0 1px;
    color: #dddddd;
    box-shadow: 1px 1px 1px rgb(4 4 4 / 35%);
    background-image: linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
    background-image: -o-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
    background-image: -moz-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
    background-image: -webkit-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
    background-image: -ms-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
    /* background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.5, #3A3A3A), color-stop(0.5, #444444) ); */
    background-image: linear-gradient(#9f9f9f 40%, black, #686868);
}
.wrap-alnalitic{
    padding: 0 20px 10px;
    border:1px solid rgb(229 229 229);
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.wrap-alnalitic .box-item-number{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.wrap-alnalitic .box-item-number>div{display: flex;
align-items: center;}
.wrap-alnalitic .box-item-number .image{
    min-width: max-content;
    width: 14px;
    margin-right: 10px;
}

/* item-member */
.wrap-left-page .box-title{
    margin-bottom: 20px;
}

.wrap-left-page .wrap-blog-item-main{padding-top: 20px;}
.wrap-left-page .wrap-blog-item-main.border-radius-5.pl-0.pr-0{
    padding-bottom: 30px;
}
.wrap-list-member>[class*="col-"]{
    margin-bottom: 20px;
}
.item-member{
    padding-top: 2px;
    height: 100%;
}
.item-member .box-image{
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}
.item-member .box-image a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-member .box-image img{
    height: auto;
}
.item-member .box-content-member{
    padding-top: 15px;
}
.item-member .box-content-member .title{
    padding-bottom: 10px;
    min-height: 54px;
    line-height: 1;
}
.item-member .box-content-member .title a{
    font-size: 18px;
    
}
.item-member .box-content-member .content{
    
}
.item-member .box-content-member .more{
    margin-top: 5px;
}
.item-member .box-content-member .more a{
    color: var(--color-blue);
}
.item-member .box-content-member .more a:hover{color: var(--color-red);}

  

/* member resiger */
 /* tools   */
 .wrap-tool{
    padding-bottom: 40px;
}
.wrap-list-tool [class*="col-"]{
    margin-bottom: 20px;
}
.item-tool{
 display: flex;
 align-items: flex-start;
 height: 100%;
 /* margin-bottom: 15px; */
}
.item-tool .box-image{
 min-width: 150px;
 height: 100px;
 overflow: hidden;
 border-radius: 5px;
 margin-right: 15px;
}
.item-tool .box-content-tool .title{
    font-size: 16px;
}
.item-tool .box-content-tool .title a{
 font-family: var(--font-bold);
 color: var(--color-text);
 margin-bottom: 5px;
 line-height: 1.375;
 display: -webkit-box;
 width: 100%;
 overflow: hidden;
 text-overflow: ellipsis;
 -webkit-line-clamp: 3;
 -webkit-box-orient: vertical;
 transition: all .3s;
}
.item-tool .box-content-tool .download-file{
 font-size: 15px;
 display: flex;
 align-items: center;
 color: var(--color-blue);
 margin-top: 5px;
}
.item-tool .box-content-tool .download-file span{
 font-size: 15px;
 display: inline-block;
 margin: 0;
 margin-right: 8px;
}

.download-file-tool{
    border-radius: 5px;
    background-color: var(--color-blue);
    color: #FFF;
    font-family: var(--font-bold);
    font-size: 16px;
    min-width: 185px;
    display: flex!important;
    width: max-content;
    align-items: center;
    justify-content: center;
    padding: 9px 0;
    margin-top: 15px;
}
.download-file-tool span{
    margin:0;
    margin-right: 5px;
}
.download-file-tool>*,
.download-file-tool i{
    margin-bottom: 0;
}

/* pagination  */
.paging {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 20px;
}

.paging a {
    display: flex;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid rgb(205, 205, 205);
    transition: all .4s;
    margin: 0 3px;
    line-height: 1;
    padding-top: 1px;
}
.paging a.dau,
.paging a.truoc,
.paging a.sau,
.paging a.cuoi{
    font-size: 0;
    position: relative;
}
.paging a.dau:before,
.paging a.truoc:before,
.paging a.sau:before,
.paging a.cuoi:before{
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    top: 50%;
    display: block;
    font-size: 16px;
    transform: translateY(-50%);
    line-height: 1;
    margin-top: 1px;
}
.paging a.dau:before{
    content: "\f100";
}
.paging a.truoc:before{
    content: "\f104";
}
.paging a.sau:before{
    content: "\f105";
}
.paging a.cuoi:before{
    content: "\f101";
}

.paging i {
    margin-bottom: -4px;
}

.paging a:hover,
.paging a:hover i,
.paging a.hientai {
    background-color: var(--color-blue);
    color: #FFF!important;
    border-color: var(--color-blue)
}


.box-title-main .title-member-detail{
    display: flex;
    margin-bottom: 20px;
}
.box-title-main .title-member-detail .box-image{
    min-width: 150px;
    width: 150px;
    background-color: rgb(246, 246, 246);
    border:1px solid rgb(228, 228, 228);
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.box-title-main .title-member-detail .box-image img{
    max-width: 100%;
    width: max-content;
    height: auto;
}

.wrap-blog-detail-main table{
    border:2px solid rgb(237, 237, 237);
    width: 100%;
    border-radius: 5px;
    padding-top: 10px;
}

.wrap-blog-detail-main table td{
    border:1px solid rgb(237, 237, 237);
    padding: 9px 10px 8px;
    font-size: 16px;
}


.item-blog-2 .box-image.fix-image-300 {
    width: 300px;
    min-width: 300px;
}
  
.list-blog-2.list-blog-3 .item-blog-small-3 .box-image.fix-image-100 {
    min-width: 100px;
    width: 100px;
    margin-top: 1.5px;
    margin-bottom: 1.5px;
}
.item.item-blog-small-3.d-flex.align-items-center{
    align-items: flex-start!important;
}

.list-blog-index{
    padding-top: 20px;
    border-top: 1px dashed var(--color-border);
}

.wrap-box-list-orther .box-item-hot-main .title-post-hot{
    min-height: 51px;
}

.wrap-box-list-orther .box-list-detail-main{}
.wrap-box-list-orther .box-list-detail-main>[class*="col-"]{
    margin-bottom: 20px;
}


/* tag  */
.wrap-tags{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -10px;
}
.wrap-tags>*{margin: 2px 0;}
.wrap-tags .title{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-right: 15px;
    color: var(--color-blue);
}
.wrap-tags .title img{
    min-width: max-content;
    margin-right: 5px;
}
.wrap-tags .item-tag{}
.wrap-tags .btn{
    background-color: rgb(241, 240, 245);
    border-radius: 5px;
    margin-left: 0;
    margin-right: 2px;
}
.wrap-tags .btn:hover{
    background-color: var(--color-blue);
    color: #FFF;
}

  
/* item-magazine */
.item-magazine .box-image,
.item-magazine .box-image img{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.item-magazine .content{
    padding: 10px 20px 20px;
    border: 1px solid rgb(223, 231, 255);
    border-top: none;
    background-color: #FFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.item-magazine .content .title{
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
    min-height: 45px;
}
.item-magazine .content .title a{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}



/* form đặt mua tạp chí */
.wrap-contact-body-service{
    margin-top: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(231, 229, 196);
    border-radius: 5px;
    padding: 20px;
    background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%,rgb(255,253,218) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%,rgb(255,253,218) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%,rgb(255,253,218) 100%);
}
.wrap-contact-body-service .form-main{
    max-width: 918px;
    width: 100%;
    margin: 0 55px 0 auto;
    padding: 0 15px;
  }
  .wrap-contact-body-service .form-main .wrap-title{
      text-align: center;
      margin-bottom: 10px;
  }
  .wrap-contact-body-service .form-main .wrap-title h2{
      font-size: 22px;
      font-family: var(--font-bold);
      color: var(--color-main);
      text-transform: uppercase;
      margin-bottom: 5px;
  }
  .wrap-contact-body-service .form-main .wrap-title p{
      color: #FFF;
      font-size: 16px;
  }
  .wrap-contact-body-service .form-main .form-row{
      margin-left: -2.5px;
      margin-right: -2.5px;
  }
  .wrap-contact-body-service .form-main .form-row [class*="col-"]{
      padding-left: 2.5px;
      padding-right: 2.5px;
  }
  .wrap-contact-body-service .form-main .form-group{
      margin-bottom: 5px;
  }
  .wrap-contact-body-service .form-main .form-control{
      min-height: 42px;
  }
  .wrap-contact-body-service .form-main .form-control::placeholder{
      color: var(--color-text);
  }
  .wrap-button-captcha{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .wrap-button-captcha .wrap-code-captcha{
      display: flex;
      align-items: center;
      border:1px solid #ced4da;
      border-radius: 5px;
  }
  .wrap-button-captcha .wrap-code-captcha .form-group{
      margin-bottom: 0;
  }
  .wrap-button-captcha .wrap-code-captcha .form-group .form-control{
      max-width: 155px;
      border:none
  }
  .wrap-button-captcha .wrap-code-captcha .code-capcha{
      display: flex;
      align-items: center;
      height: 42px;
      border-radius: 5px;
      background: #FFF;
      padding-left: 15px;
      margin-left: -5px;
  }
    
 .wrap-button-captcha .wrap-code-captcha .code-capcha .reload-code-capcha{
      margin: 0;
  }
  .wrap-button-captcha .wrap-code-captcha .code-capcha .reload-code-capcha i{
      color: #0099d2;
  }
  .wrap-button-captcha .box-button-submit{
      display: flex;
      align-items: center;
  }
  .wrap-button-captcha .box-button-submit p{
      font-size: 16px;
      color: #FFF;
      margin: 0;
      padding-right: 15px;
      padding-left: 15px;
  }
  .wrap-button-captcha .box-button-submit .btn{
      width: 245px;
      border-radius: 5px;
      padding-top: 8px;
      text-transform: uppercase;
      margin:0
  }
  
/* video  */

.slide-video-hot{}
.slide-video-hot .item{
    height: auto;
    border:none;
}
.slide-video-hot .item .box-image{
    width: 100%;
}
.slide-video-hot .item .box-image img{
    width: 100%;
    height: 100%;
}
.slide-video-hot.owl-carousel .owl-nav {
    top: -59px;
    right: 15px;
}

/*  */
.item-libary-main-hot .box-image img{
    margin: 0;
}
.item-libary-main-hot{position: relative;}
.item-libary-main-hot .content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}
.item-libary-main-hot .content.big{
    padding: 10px 20px 20px;
}
.item-libary-main-hot .content .image{
    min-width: max-content;
    margin-right: 10px;
}
.item-libary-main-hot .content .image img{margin: 0;}
.item-libary-main-hot .content .title{
    line-height: 1;
    font-size: 16px;
    margin: 0;
}
.item-libary-main-hot .content .title a{
    color: #FFF;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin: 0;
}

.list-libary-main-item .title{font-size: 16px;}

/* modal video  */
.active-video{
    cursor: pointer;
}
.modal-dialog {
    max-width: 990px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.modal-content{
    background-color: transparent;
    border: none;
}
.modal-content .close{
    opacity: 1;
    text-shadow: none;
    color: #FFF;
    text-align: right;
}
.tab-controls.nav-tabs{
    border:none;
    justify-content: center;
    margin-bottom: 30px;
}
.tab-controls.nav-tabs .nav-item{
    margin:0 3px 10px
}
.tab-controls.nav-tabs .nav-link{
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
    color: var(--color-text);
    padding-top: 6px;
    padding-bottom: 6px;
}
.tab-controls.nav-tabs .nav-link.active,
.tab-controls.nav-tabs .nav-link:hover{
    color: #FFF;
    background-color: rgb(0, 98, 163);
    border-color: rgb(0, 98, 163);
}
.modal-content iframe{width: 100%;}



/* libary detail zoom */
/*  */
.wrap-image-detail-fancybox {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px -30px!important
}

.wrap-image-detail-fancybox a[class*="col-"] {
    width: 100%;
    margin-bottom: 20px;
}

.wrap-image-detail-fancybox a>div {
    overflow: hidden;
    width: 100%;
    position: relative;
    border-radius: 5px;
    margin: 0;
}

.wrap-image-detail-fancybox a img {
    width: 100%;
    margin: 0;
}

.wrap-image-detail-fancybox a div .icon-plus {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .4s;
}

.wrap-image-detail-fancybox a div .icon-plus img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    margin: 0;
    transition: all .4s;
}

.wrap-image-detail-fancybox a div:hover .icon-plus {
    background-color: rgb(0 89 148 / 65%);
}

.wrap-image-detail-fancybox a div:hover .icon-plus img {
    opacity: 1;
    visibility: visible
}


/* tìm kiếm */
.wrap-search-form{
    margin-bottom: 20px;
}
.wrap-search-form>p{
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 3px;
    color: var(--color-blue);
  }
  .wrap-search-form .form{
      display: flex;
      max-width: 100%;
      margin: 0 auto;
      border-radius: 3px;
  }
  .wrap-search-form .form input{
      border: 2px solid rgb(218, 218, 218);
      width: calc(100% - 40px);
      border-right:none;
      padding:7px 20px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
  }
  .wrap-search-form .form a{
      width: 40px;
      min-width: 40px;
      background: var(--color-blue);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  .wrap-list-result .item-6:first-child {
    padding-top: 20px;
    border-top: 1px dashed var(--color-border);
}



/* contact success */
/* service success */
.wrap-contact-susess {
    padding: 90px 0;
}

.wrap-contact-susess .title-contact-sucess {
    font-size: 35px;
    color: var(--color-blue);
    font-family: var(--font-normal);
    margin-bottom: 5px;
}

.wrap-contact-susess .btn {
    text-transform: uppercase;
    font-family: var(--font-bold);
    padding:8px 18px 6px
}
.wrap-contact-susess .btn:hover{
background-color: var(--color-main);
border-color: var(--color-main);
}
.wrap-contact-susess .color-main-yellow{
    color: var(--color-red);
}
.wrap-contact-susess .color-main-yellow:hover{
    color: var(--color-main);
}
.wrap-contact-susess .mt-4.mb-4{
    margin: 25px 0!important;
}

/* 404 */

section#page-404 {
    background-image: url(../images/bg-404.png);
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
}

section#page-404 .container {
    text-align: center;
}


section#page-404 p{
    font-size: 20px;
    color: var(--color-text);
}
section#page-404 .title-page-404 {
    font-size: 32px;
    margin-bottom: 15px;
    margin-top: 50px;
    color: var(--color-text);
    font-family: var(--font-normal);
}

section#page-404 .wrap-button {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section#page-404 .wrap-button .btn{
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 9px;
    padding-bottom: 7px;
}
section#page-404 .wrap-button .btn i{
    font-size: 20px;
    margin-left: 10px;
}
section#page-404 .wrap-button .btn:hover i{
    color: #FFF!important;
}
section#page-404 .wrap-button .border-color-main{
    border:1px solid #FFF;
    transition: all .4s;
    color: #FFF;
}
section#page-404 .wrap-button .border-color-main:hover{
    opacity: .7;
}



/* contact  */
.form-contact-main.wrap-contact-body-service{
    padding: 0;
    background: none;
    border:none;
    margin-top: 25px;
}
.form-contact-main.wrap-contact-body-service .form-main{
    max-width: 760px;
    margin: 0 auto;
}
.form-contact-main.wrap-contact-body-service .form-main .form-row {
    margin-left: -5px;
    margin-right: -5px;
}
.form-contact-main.wrap-contact-body-service .form-main .form-row [class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}
.form-contact-main.wrap-contact-body-service .form-main .form-group {
    margin-bottom: 30px;
}
.form-contact-main .wrap-button-captcha .wrap-code-captcha .form-group {
    margin-bottom: 0;
}
.form-contact-main .wrap-button-captcha{
    margin-bottom: 45px;
}

.form-contact-main .wrap-button-captcha .box-button-submit .btn {
    width: 150px;
    border-radius: 5px;
    padding-top: 8px;
    text-transform: unset;
    margin: 0;
}
.form-contact-main .wrap-button-captcha .wrap-code-captcha .form-group .form-control {
    max-width: 110px;
    border: none;
}
.form-contact-main.wrap-contact-body-service .form-main .wrap-title p {
    color: var(--color-text);
}
.form-contact-main.wrap-contact-body-service .form-main .wrap-title {
    margin-bottom: 30px;
}

/* quangdev update 8/7/2022 */
.title-resiger-member{padding:20px 0}
.contact-resiger{padding:20px 0}

/* hover image  */

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
.hover-image, .box-image{
    position: relative;
    overflow: hidden;
}
.hover-image::before, .box-image:before{
    position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover-image:hover::before, .box-image:hover::before{
    -webkit-animation: shine .75s;
	animation: shine .75s;
}




















